.stay-focused{
    
   
    font-family: "Yeseva One";
     font-size: 35px;
     font-style: normal;
     font-variant: normal;
     font-weight: 300;
     line-height: 40.5px;
    
    
    margin-top: 20%;
    margin-left: 20%;
    border-left: 5px solid rgb(243, 113, 66);
    padding-left: 15px;
    border-radius: 4px;
}
.orange{
    color: rgb(245, 179, 57);
    
}
.deep-grey{
    color: rgb(58, 57, 57);
}


.half-width{
    width: 50%;
}

.firstpara{
    margin-left: 20%;
    margin-bottom: 4%;
    
    font-family: Poppins;
}

.button{
    background-color: rgb(243, 113, 66);
    text-decoration: none;
    color: white;
    margin-top: 20%;
    /* margin-bottom: 0%; */
    
    padding: 10px 30px;
    
    border-radius: 6px;
}
.firstimage{
    width:30%;
    margin-left:60%;
    margin-top:-80%;
   
}
.second-header{
    font-family: 'Poppins', sans-serif;
    margin-left: 32%;
    margin-top: 5%;
    font-size: 30px;
    font-weight: 500;
    color: rgb(13, 3, 49);

}
.flexible{
    display: flex;
}
.secondparabox{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-bottom: 3%;
    
   

}
.mission{
    background-color: rgb(252, 218, 203);
    margin-left: 10%;
    border-radius: 20px;
    padding-left: 3%;
    /* height: 350px; */
    padding-top: 2%;
    padding-right: 2%;
    width: 800px;
    padding-bottom: 3%;

}
.vission{
    background-color: rgb(245, 220, 242);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    padding-left: 3%;
    /* height: 350px; */
    padding-top: 2%;
    padding-right: 2%;
    width: 800px;
    padding-bottom: 3%;
    
    


}
.goals{
    background-color: rgb(235, 243, 250);
    margin-right: 9%;
    border-radius: 20px;
    padding-left: 3%;
    /* height: 350px; */
    padding-top: 2%;
    padding-right: 2%;
    width: 800px;
    padding-bottom: 3%;

}
.secondimages{
    width: 128px;
}
 .thirdimage{
    width: 342px;
    margin-left: 38%;
    margin-top: 20%;
    
} 
.thirdheader{
    font-family: 'Poppins', sans-serif;
     margin-top: 14%; 
    font-weight: 450;
    font-size: 22px;
    line-height: 20px;
    /* margin-left: 20%; */

}
.thirdpara{
    margin-left: 20%;
    font-family:'Poppins', sans-serif ;
    margin-top: 4%;
    width: 500px;

}
.bgimage{
    background-image: url(images/shapes/shape-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 50px 120px;
}
.fourthheader{
    font-family:'Poppins', sans-serif ;
    
    font-size: 22px;
    font-weight: 400;
    line-height: 40px; 
}
.fourthpara{
    margin-left: 10%;
    margin-top: 10%;
    height: 300px;
    width: 700px;
    font-family: 'Poppins', sans-serif;
}
.fourthimage{
    width: 351px;
    margin-left: none;
    margin-top: 82px;
}
.fourthpara2{
    margin-bottom: 20px;
    margin-right: 5%;
}
.bgimage2{
    background-image: url(images/shapes/shape-1.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.lastheader{
    font-family:'Poppins', sans-serif ;
    
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 20%;
    margin-top: 10%;
}
.lastimage{
    width: 400px;
    margin-left: 24%;
    margin-top: 10%;
    border: 3px solid white;
    border-radius: 30px;
}
.lastpara{
    font-family: 'Poppins', sans-serif;
    margin-left: 13%;
    margin-top: 3%;
    margin-right: 4%;
}
.lastheader2{
    font-size: 20px;
}
.footer{
 text-align: center;
padding: 9px;
background-color: rgb(39, 33, 63);
color: white;
margin-top: 10%;
line-height: 3px;

font-family: 'Poppins', sans-serif;

}
.footerheader{
    font-family: 'The Nautigal', cursive;
    font-size: 40px;
    font-weight: 400;

}
body{
    margin: 0;
    
}
.pink{
    color: rgb(223, 26, 118);
}


